@font-face {
    font-family: 'Coolvetica';
    src: url('../../assets/fonts/Coolvetica Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.about{
    display:flex;
    align-items:center;
    flex-direction: column;
    font-family: 'Coolvetica', Arial, sans-serif;
}

.about img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top:150px; 
}

.about h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
}

.about p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.about-action{
    display:flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}