.portfolio{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 20vh;
}

.portfolio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    padding: 60px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: white;
    max-width: 1500px;
    position: relative;
    z-index: 1;
}
.heading{
    font-size: 150px;
    display:flex;
    justify-content: center;
}


.work-experience tr th{
    text-align: left;
    vertical-align: center;
    width: 70px;
}
.work-experience tr th img{
    width: 50px;
}


.projects-content{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.swiper {
    width: 100%;
}

.swiper .swiper-slide {
    background: rgb(40, 36, 36);
    width: 850px !important;
    height: 600px !important;
    border-radius: 20px;
}

.swiper .swiper-slide > * {
    padding-left: 20px;
    padding-right: 20px;
}

.swiper .swiper-slide img {
    width: 100%;
    padding: 20px;
    height: 450px;
    object-fit: cover;
    object-position: top;
    box-sizing: border-box;
}

.amazon{
    color:#FF9A00;
}

