
.projects-content{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.swiper {
    width: 100%;
}

.swiper .swiper-slide {
    background: rgb(40, 36, 36);
    width: 850px !important;
    height: 600px !important;
    border-radius: 20px;
}

.swiper .swiper-slide > * {
    padding-left: 20px;
    padding-right: 20px;
}

.swiper .swiper-slide img {
    width: 100%;
    padding: 20px;
    height: 450px;
    object-fit: cover;
    object-position: top;
    box-sizing: border-box;
}

.amazon{
    color:#FF9A00;
}
