.live-stats-leetcode {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.live-stats-github {
  display: flex;
  background: #181a20;
  border-radius: 12px;
  padding: 16px;
  max-width: 860px;
  width: 100%;
  box-sizing: border-box;
}

h1{
  justify-content: start;
  display: flex;
  width: 100%;
  max-width: 860px;
}

@media (max-width: 924px) {
  .live-stats-leetcode {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}