@font-face {
    font-family: 'Coolvetica';
    src: url('../../assets/fonts/Coolvetica Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar{
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Coolvetica', Arial, sans-serif;
    position: relative;
    z-index: 100;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li{
    cursor:pointer;
    position: relative;
    transition: all 0.3s ease;
}

.nav-menu li::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.nav-menu li:hover::after {
    width: 100%;
}