@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("https://use.typekit.net/tzh4psh.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'coolvetica', Arial, sans-serif;
}

html, body {
  position: relative;
}

h1{ font-size: 48px; }
h2{ font-size: 36px; }
h3{ font-size: 24px; }
h4{ font-size: 18px; }

p{  font-size: 16px;
    font-family: 'Archivo', sans-serif !important;}
li {
    font-size: 32px;
    font-family: 'Archivo', sans-serif !important;}

@media (max-width: 700px){
    h1{ font-size: 36px; }
    h2{ font-size: 24px; }
    h3{ font-size: 20px; }
    h4{ font-size: 15px; }
    p { font-size: 13px; }
    li{ font-size: 26px; }
}

@media (max-width: 430px){
    h1{ font-size: 28px; }
    h2{ font-size: 24px; }
    h3{ font-size: 15px; }
    h4{ font-size: 13px; }
    p{  font-size: 14px; }
    li{ font-size: 20px; }
}