.portfolio-container{
    position: relative;
    height: 100vh;
}

/* .portfolio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    padding: 60px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: white;
    max-width: 1500px;
    position: relative;
    z-index: 1;
}
.heading{
    font-size: 150px;
    display:flex;
    justify-content: center;
} */


