.GitHubLogo{
    width: 150px;
    height: 150px;
    &:hover{
        cursor: pointer;
    }
}

.LeetCodeLogo{
    width: 150px;
    height: 150px;
    &:hover{
        cursor: pointer;
    }
}

.tempContainer{
    display:flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding:48px;
    .logos{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
        height: 100%;
        width: 300px !important;
        flex-shrink: 0;
        padding-right: 24px;
    }
    .content{
        width:100%;
        height:100%;
        min-width: 0;
        overflow: hidden;
        .leetcode{
            display:flex;
            justify-content:center;
            height: 50%;
            width:100%;
            min-width: 0;
            .container{
                display:flex;
                flex-direction: row;
                justify-content:center;
                width:100%;
                max-width: 1325px;
            }
        }
        .github{
            display: flex;
            align-items: center;
            justify-content:center;
            width:100%;
            height: 50%;
            .container{
                transform: scale(1.5);
                display: flex;
                justify-content:center;
                background: #181a20;
                border-radius: 12px;
                padding: 16px;
                min-width: 225px;
                max-width: 880px;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}

@media (max-width: 1840px){
    .tempContainer{
        .logos{
            align-items: center;
            width: 200px !important;
        }  
        .content{
            .github{
                .container {
                    transform: scale(1);
                    padding: 16px;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .tempContainer{
        .logos{
            display:none;
        }
    }
}

@media (max-width: 1000px){
    .tempContainer{
        padding:0px;
    }
}